<div class="card-topic">
  <div class="card-topic-info">
    <div class="card-topic-info-name">
      <div class="title d-inline-block mb-3"><%= topic.theme.name %></div>
      <p><strong><%= topic.name %></strong>
        <% if current_page?(action: "chatrooms") %>
          <i class="ms-2 fa-solid fa-circle-info d-none" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>"></i>
        <% else %>
          <i class="ms-2 fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>"></i>
        <% end %>
      </p>
    </div>
  </div>
  <div class="card-topic-user">
    <%= render "shared/avatar_with_badge", user: topic.user, size: :small %>
    <p class="mt-2 mb-0"><%= topic.user.username.capitalize %></p>
  </div>
</div>
