<!-- Scrollable modal -->
<div class="modal fade " id="modal<%= topic.id %>" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-style">
      <div class="modal-header">
        <h5 class="modal-title"><%= topic.name %></h5>
      </div>
      <div class="modal-body">
        <p><%= topic.description %></p>
      </div>
      <div class="modal-footer">
        <%= link_to  "Back", topics_path, class: "btn btn-outline-light rounded-5" %>
        <%= link_to topic_user_topics_path(topic), data: { turbo_method: :post }, class: "btn styled-button" do %>
          <i class="fa-regular fa-comments">  JOIN</i>
        <% end %>
      </div>
    </div>
  </div>
</div>
