<div class="container">
  <div class="row">
    <div class="text-center col-12">
      <h1 class="mt-3 mb-2">Browse current topics</h1>
      <div class="mb-5">
        <%= form_with url: topics_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-4",
            placeholder: "Start Your Search" %>
            <div>
              <%= submit_tag "Search", name: "", class: "btn btn-primary rounded-4 ms-2"%>
            </div>
        <% end %>
      </div>
        <% if @joined_topics.present? %>
          <% @joined_topics.each do |topic| %>
            <div class="col-12" >
              <div class="card-topic" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>">
                <div class="card-topic-info">
                  <div class="card-topic-info-name">
                    <button type="button" class="btn btn-success rounded-5"><%= topic.theme.name %></button>
                  </div>
                  <div class="card-topic-info-description">
                    <p><%= topic.description.truncate(35) %></p>
                  </div>
                </div>
                <div class="vertical-line">
                  <div class="avatar-with-badge-topics">
                    <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
                    "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
                    <%= image_tag("avatars/#{avatar.sample}", class: 'avatar-large', alt: 'avatar') %>
                    <i class="fa-solid fa-chess-pawn icon-50"></i>
                  </div>
                    <p class="mb-0"><%= topic.user.username %></p>
                  </div>
                </div>
                <%= link_to "#", class: "navbar-brand" do %>
                  <i class="fa-regular fa-comments btn btn-warning mb-3">  JOIN</i>
                <% end %>
              </div>
            </div>
            <%= render partial: 'topics/modal', locals: { topic: topic } %>
          <% end %>
        <% else %>
          <p>There are no topic matching your favorite themes for the moment.</p>
        <% end %>
    </div>
  </div>
</div>
