<div class="container">
  <div class="row">
    <div class="text-center col-12">
      <% if @topics %>

        <h1>Browse current topics</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="btn btn-primary">
        Notifications <span class="badge bg-secondary">4</span>
        </button>

        <% if @topics.present? %>
          <% @topics.each do |topic| %>
            <div class="col-12" >
<<<<<<< HEAD
                <div class="card-topic border border-light" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>">
                    <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
                    "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
                    <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
=======
                <div class="card-topic" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>">
>>>>>>> cb779692a9c97a74393aec419235346b9496e5a9
                    <div class="card-topic-info">
                      <div class="card-topic-info-name">
                        <button type="button" class="btn btn-success rounded-5"><%= topic.theme.name %></button>
                      </div><hr>
                      <div class="card-topic-info-description">
                        <p><%= topic.description.truncate(35) %></p>
                      </div><hr>
                      <div class="card-topic-info-expertise">
                        <p>Expertise:<% topic.expertise.times do %>
                          <i class="fa-solid fa-star" style="color: black;"></i>
                          <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
                          "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
                          <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
                        <% end %></p>
                      </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'topics/modal', locals: { topic: topic } %>
          <% end %>
        <% else %>
          <p>There are no topic matching your search.</p>
        <% end %>
      <% else %>

        <h1>Here are your current topics</h1>
        <% if @joined_topics.present? %>
          <% @joined_topics.each do |topic| %>
            <div class="col-12" >
                <div class="card-topic" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>">
                  <div class="card-topic-info">
                    <div class="card-topic-info-name">
                      <button type="button" class="btn btn-success rounded-5"><%= topic.theme.name %></button>
                    </div>
                    <div class="card-topic-info-description">
                      <p><%= topic.description.truncate(35) %></p>
                    </div>
                  </div>
                  <div class="vertical-line">
                    <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
                    "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
                    <div class="ms-2">
                      <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large me-3 ', alt: 'avatar') %>
                    </div>
                  </div>
                </div>
            </div>
            <%= render partial: 'topics/modal', locals: { topic: topic } %>
          <% end %>
        <% else %>
          <p>There are no topic matching your favorite themes for the moment.</p>
        <% end %>

        <h1>Here are the topic that might interest you</h1>
        <% if @user_themes_topics.present? %>
          <% @user_themes_topics.each do |topic| %>
            <div class="col-12" >
                <div class="card-topic" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>">
                    <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
                    "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
                    <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
                    <div class="card-topic-info">
                      <div class="card-topic-info-name">
                        <button type="button" class="btn btn-success rounded-5"><%= topic.theme.name %></button>
                      </div><hr>
                      <div class="card-topic-info-description">
                        <p><%= topic.description.truncate(35) %></p>
                      </div><hr>
                      <div class="card-topic-info-expertise">
                        <p>Expertise:<% topic.expertise.times do %>
                          <i class="fa-solid fa-star" style="color: black;"></i>
                        <% end %></p>
                      </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'topics/modal', locals: { topic: topic } %>
          <% end %>
        <% else %>
          <p>There are no topic matching your favorite themes for the moment.</p>
        <% end %>

        <h1>Other topics</h1>
        <% @other_themes_topics.each do |topic| %>
          <div class="col-12" >
              <div class="card-topic" data-bs-toggle="modal" data-bs-target="#modal<%= topic.id %>">
                  <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
                  "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
                  <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
                  <div class="card-topic-info">
                    <div class="card-topic-info-name">
                      <button type="button" class="btn btn-success rounded-5"><%= topic.theme.name %></button>
                    </div><hr>
                    <div class="card-topic-info-description">
                      <p><%= topic.description.truncate(35) %></p>
                    </div><hr>
                    <div class="card-topic-info-expertise">
                      <p>Expertise:<% topic.expertise.times do %>
                        <i class="fa-solid fa-star" style="color: black;"></i>
                      <% end %></p>
                    </div>
                  </div>
              </div>
          </div>


          <%= render partial: 'topics/modal', locals: { topic: topic } %>
        <% end %>



      <% end %>





    </div>
  </div>
</div>
