<div class="container">
  <div class="text-center">
    <h1 class="mt-3 mb-2">Browse current topics</h1>
    <div class="mb-5">
      <%= form_with url: topics_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-4",
          placeholder: "Start Your Search" %>
        <div>
          <%= button_tag class: "btn btn-search border border-light rounded-4" do %>
              <i class="fa-solid fa-eye"></i>
          <% end %>
          <%#= submit_tag "Search", name: "", class: "btn btn-search border border-light rounded-4"%>
        </div>
      <% end %>
    </div>
    <% if @available_topics.present? %>
      <% @available_topics.each do |topic| %>
        <%= render "topics/card", topic: topic %>
        <%= link_to topic_user_topics_path(topic), data: { turbo_method: :post }, class: "styled-button" do %>
          <i class="fa-regular fa-comments">  JOIN</i>
        <% end %>
        <%= render partial: 'topics/modal', locals: { topic: topic } %>
      <% end %>
    <% else %>
      <p>There are no topic matching your favorite themes for the moment.</p>
    <% end %>
    </div>
  </div>
</div>
