<%
  average_interesting_note = user.reviews_as_reviewee.average(:interesting).to_i
  average_fun_note = user.reviews_as_reviewee.average(:fun).to_i
  average_nice_note = user.reviews_as_reviewee.average(:nice).to_i
%>

<div class="container">
  <div class="d-flex gap-2 mt-3 mb-5 ">
  <div class="me-4 align-items-center d-flex">
    <%= render 'shared/avatar_with_badge', user: user %>
  </div>
  <div class="username-description">
    <div class="d-flex">
      <h1><%= user.username.capitalize %></h1>
    </div>
    <p><%= user.description || 'Here for both laughs and deep discussions. Let's chat about life's absurdities and its profound mysteries. 🤪🤔' %></p>
    <% if user == current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, class: 'styled-button mt-3 d-inline-block fw-bold', data: {turbo_method: :delete} %>
    <% end %>
  </div>
  </div>

  <div class="d-flex align-items-baseline pt-4"><h2>Favorite themes</h2>
    <% if user == current_user %>
      <%= link_to themes_path do%>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    <% end %>
   </div>
  <div class="mb-5 mt-4">
    <% user.themes.each do |theme| %>
      <div class="badge rounded-pill styled-button gradient gap-4 mb-1">
        <div class="theme">
          <%= theme.name %>
        </div>
      </div>
    <% end %>
  </div>



  <h2 class="mt-3">Reviews</h2>
    <div class="mt-3">
      <div class="col-12 d-flex justify-content-center">
        <div class="text-align-center">
        <div class="emoji ms-1">
          🤔
        </div>
          <p class="emoji-text">Interesting</p>
          <p class="rating"><%= average_interesting_note %>/5</p>
        </div>
        <div class="text-align-center">
          <div class="emoji">
            😂
          </div>
          <p class="emoji-text">Fun</p>
          <p class="rating"><%= average_fun_note %>/5</p>
        </div>
        <div class="text-align-center">
          <div class="emoji">
            😇
          </div>
          <p class="emoji-text">Nice</p>
          <p class="rating"><%= average_nice_note %>/5</p>
        </div>
    </div>
  </div>
  <% if user.reviews_as_reviewee.empty? %>
    No reviews yet...
  <% else %>
    <% user.reviews_as_reviewee.last(5).each do |review| %>
      <div class="profile-review-card mb-2">
        <div class="profile-review-card__author">
          <%= render "shared/avatar_with_badge", user: review.reviewer, size: :small %>
          <div class="profile-review-card__author__username"><%= review.reviewer.username.capitalize %></div>

        </div>
        <div class="profile-review-card__content">
          <p><%= review.topic.name %></p>
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
