<div class="container">
  <div class="d-flex gap-2 mt-3 mb-5 ">
  <div class="me-4 align-items-center d-flex">
    <%= render 'shared/avatar_with_badge', user: @user %>
  </div>
  <div class="username-description">
    <h1><%= @user.username.capitalize %></h1>
    <p><%= @user.description || 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, pariatur? Sapiente nesciunt vel nostrum id quisquam molestiae odio' %></p>
  </div>
  </div>

  <h2>Favorite themes :</h2>
  <div class="mb-5">
  <% @user.themes.each do |theme| %>
    <div class="badge rounded-pill bg-info">
      <%= theme.name %>
    </div>
  <% end %>
  </div>

    <h2>Profil :</h2>
  <div class="mt-3">
      <div class="col-12 d-flex justify-content-center gap-3">
          <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <%= @average_interesting_note %>
        <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
          <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <%= @average_fun_note %>
        <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
          <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <%= @average_nice_note %>
        <%= image_tag("avatars/#{avatar.sample}", class: 'ms-1 avatar-large', alt: 'avatar') %>
    </div>
  </div>

  <h2 class="mt-3">Reviews :</h2>
    <div class="d-flex mt-3 mb-5">
      <div class="me-4 align-items-center d-flex gap-4">
        <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <%= image_tag("avatars/#{avatar.sample}", class: 'avatar-large', alt: 'avatar') %>
        <p>Loren ipsum blabla</p>
      </div>
    </div>
    <div class="d-flex mt-3 mb-5">
      <div class="me-4 align-items-center d-flex gap-4">
        <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <%= image_tag("avatars/#{avatar.sample}", class: 'avatar-large', alt: 'avatar') %>
        <p>Loren ipsum blabla</p>
      </div>
    </div>
    <div class="d-flex mt-3 mb-5">
      <div class="me-4 align-items-center d-flex gap-4">
        <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <%= image_tag("avatars/#{avatar.sample}", class: 'avatar-large', alt: 'avatar') %>
        <p>Loren ipsum blabla</p>
      </div>
    </div>


</div>
