<div class="container">
  <div class="d-flex gap-2 mt-3 mb-5 ">
  <div class="me-4 align-items-center d-flex">
    <%= render 'shared/avatar_with_badge', user: @user %>
  </div>
  <div class="username-description">
    <div class="d-flex">
      <h1><%= @user.username.capitalize %></h1>
    </div>
    <p><%= @user.description || 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, pariatur? Sapiente nesciunt vel nostrum id quisquam molestiae odio' %></p>
    <% if @user = current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, class: 'styled-button mt-3 d-inline-block', data: {turbo_method: :delete} %>
    <% end %>
  </div>
  </div>

  <div class="d-flex align-items-baseline pt-4"><h2>Favorite themes :</h2>
    <%= link_to  themes_path do%>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
   </div>
  <div class="mb-5 mt-4">
  <% @user.themes.each do |theme| %>
    <div class="badge rounded-pill bg-info">
      <div class="theme">
        <%= theme.name %>
      </div>
    </div>
  <% end %>
  </div>

    <h2>Profil :</h2>
  <div class="mt-3">
      <div class="col-12 d-flex justify-content-center gap-4">
          <% avatar = ["avatar-1.png", "avatar-2.png","avatar-3.png","avatar-4.png",
        "avatar-5.png","avatar-6.png","avatar-7.png","avatar-8.png", "avatar-9.png","avatar-10.png"] %>
        <div class="text-align-center">
        <div class="emoji">
          🤔
        </div>
          <p class="rating"><%= @average_interesting_note %>/5</p>
        </div>
        <div class="text-align-center">
          <div class="emoji">
            😂
          </div>
          <p class="rating"><%= @average_fun_note %>/5</p>
        </div>
        <div class="text-align-center">
          <div class="emoji">
            😇
          </div>
          <p class="rating"><%= @average_nice_note %>/5</p>
        </div>
    </div>
  </div>

  <h2 class="mt-3">Reviews :</h2>
  <% @user.reviews_as_reviewee.each do |review| %>
    <div class="profile-review-card mb-2">
      <div class="profile-review-card__author">
        <%= render "shared/avatar_with_badge", user: review.reviewer, size: :small %>
        <div class="profile-review-card__author__username"><%= review.reviewer.username.capitalize %></div>
      </div>
      <div class="profile-review-card__content">
        <p><%= review.topic.name %></p>
        <p><%= review.content %></p>
      </div>
    </div>
  <% end %>
</div>
